<thf-page-detail
  t-title="User Detail"
  [t-breadcrumb]="breadcrumb">

  <div class="thf-row">
    <thf-info
      class="thf-md-4"
      t-label="User ID"
      [t-value]="userId">
    </thf-info>

    <thf-info
      class="thf-md-4"
      t-label="E-mail"
      [t-value]="email">
    </thf-info>

    <thf-info
      class="thf-md-4"
      t-label="Name"
      [t-value]="name">
    </thf-info>
  </div>

  <hr>

  <div class="thf-row">
    <thf-info
      class="thf-md-4"
      t-label="Nickname"
      [t-value]="nickname">
    </thf-info>

    <thf-info
      class="thf-md-4"
      t-label="Birth Date"
      [t-value]="birthDate">
    </thf-info>

    <thf-info
      class="thf-md-4"
      t-label="Genre"
      [t-value]="genre">
    </thf-info>
  </div>

  <hr>

  <div class="thf-row">
    <thf-info
      class="thf-md-4"
      t-label="Nationality"
      [t-value]="nationality">
    </thf-info>

    <thf-info
      class="thf-md-4"
      t-label="Place Of Birth"
      [t-value]="placeOfBirth">
    </thf-info>

    <thf-info
      class="thf-md-4"
      t-label="Graduation"
      [t-value]="graduation">
    </thf-info>
  </div>

  <hr>

  <div class="thf-row">
    <thf-info
      class="thf-md-4"
      t-label="Fathers Name"
      [t-value]="fathersName">
    </thf-info>

    <thf-info
      class="thf-md-4"
      t-label="Mothers Name"
      [t-value]="mothersName">
    </thf-info>
  </div>

</thf-page-detail>

