<p>
  {{message}}
<p>

<thf-grid
  [t-data]="dataItems"
  [t-columns]="columns"
  [t-sortable]="true"
  [t-selectable]="visualizationsValues.includes('selectable')"
  [t-editable]="allowedValues.includes('editable')"
  [t-groupable]="allowedValues.includes('groupable')"
  [t-show-export-buttons]="visualizationsValues.includes('export')"
  [t-show-more-disabled]="false"
  [t-show-remove-button]="visualizationsValues.includes('remove')"
  [t-show-add-button]="allowedValues.includes('add')"
  (t-show-more)="loadMoreData()"
  (t-selection-change)="onSelectionChange($event)"
  t-remove-action="onRemove"
  t-save-action="onSave">
</thf-grid>

<p *ngIf="visualizationsValues.includes('selectable')">
  Item selecionado: {{ selectedItem }}
</p>

<br>

<form #f="ngForm">
  <thf-checkbox-group
    name="checkboxRemoveStatusName"
    t-label="Permite remover itens com status:"
    [t-options]="removeStatusOptions"
    [(ngModel)]="removeStatusValues">
  </thf-checkbox-group>

  <thf-checkbox-group
    name="checkboxValidationsName"
    t-label="Opções de permissão:"
    [t-options]="allowedOptions"
    [(ngModel)]="allowedValues">
  </thf-checkbox-group>

  <thf-checkbox-group
    name="visualizationsOptions"
    t-label="Opções de visualizações:"
    [t-options]="visualizationsOptions"
    [(ngModel)]="visualizationsValues">
  </thf-checkbox-group>

</form>

