<thf-page-default
  t-title="Dashboard"
  [t-actions]="actions"
  [t-breadcrumb]="breadcrumb">

  <thf-container class="thf-lg-6">
    <thf-widget
      class="thf-lg-6 thf-mb-1"
      t-title="Daily visitors">

      <div class="thf-font-subtitle thf-text-center">540</div>
      <div class="thf-text-center sample-container-dashboard">www.thf.totvs.com.br</div>
    </thf-widget>

    <thf-widget
      class="thf-lg-6 thf-mb-1"
      t-title="Most viewed page">

      <div class="thf-font-subtitle thf-text-center">300 views</div>
      <div class="thf-text-center sample-container-dashboard">https://thf.totvs.com.br</div>
    </thf-widget>

    <thf-widget
      class="thf-lg-6 thf-mb-1"
      t-title="Website status">

    <div class="thf-font-subtitle thf-text-center">Online</div>
    <div class="thf-text-center sample-container-dashboard">21 days</div>
  </thf-widget>

    <thf-widget
      class="thf-lg-6 thf-mb-1"
      t-title="NPM downloads">

      <div class="thf-font-subtitle thf-text-center">266</div>
      <div class="thf-text-center sample-container-dashboard">@totvs/thf-ui - 2.0.0</div>
    </thf-widget>

    <thf-widget
      class="thf-lg-6 thf-mb-1"
      t-title="Devforum THF questions">

      <div class="thf-font-subtitle thf-text-center">800 questions</div>
      <div class="thf-text-center sample-container-dashboard">https://devforum.totvs.com.br</div>
    </thf-widget>

    <thf-widget
      class="thf-lg-6 thf-mb-1"
      t-title="Angular versions supported">

      <div class="thf-font-subtitle thf-text-center">AngularJS - Angular 7</div>
      <div class="thf-text-center sample-container-dashboard">Angular 7 most downloaded</div>
    </thf-widget>
  </thf-container>

  <thf-container class="thf-lg-6">
    <thf-table
      [t-columns]="columns"
      [t-items]="items"
      t-striped="true">
    </thf-table>
  </thf-container>

</thf-page-default>

<thf-modal
  t-title="Share webpage"
  [t-primary-action]="shareAction"
  [t-secondary-action]="cancelAction">

  <form #formShare="ngForm">
    <thf-email
      class="thf-lg-12"
      name="email"
      [(ngModel)]="email"
      t-clean
      t-label="Type an e-mail for sharing webpage: http://www.thf.totvs.com.br"
      t-required>
    </thf-email>
  </form>

</thf-modal>

