<form [formGroup]="translatorForm">

  <div class="thf-row">
    <thf-radio-group
      class="thf-lg-4"
      name="language"
      formControlName="language"
      t-label="Select a Language"
      t-required
      [t-options]="languageOptions"
      (t-change)="changeLanguage()">
    </thf-radio-group>

    <thf-select
      class="thf-lg-4"
      name="original"
      formControlName="original"
      t-label="Original Text (Portuguese)"
      t-required
      [t-options]="optionsList"
      (t-change)="changeLanguage()">
    </thf-select>

    <thf-input
      class="thf-lg-4"
      name="translated"
      formControlName="translated"
      t-label="Translated Text"
      t-readonly
      t-required>
    </thf-input>
  </div>

</form>

