<thf-number
  class="thf-md-12"
  name="Totvs number"
  [(ngModel)]="number"
  [t-clean]="properties.includes('clean')"
  [t-disabled]="properties.includes('disabled')"
  [t-error-pattern]="messageErrorPattern"
  [t-help]="help"
  [t-label]="label"
  [t-max]="max"
  [t-maxlength]="maxlength"
  [t-min]="min"
  [t-minlength]="minlength"
  [t-placeholder]="placeholder"
  [t-readonly]="properties.includes('readonly')"
  [t-required]="properties.includes('required')"
  [t-step]="step"
  (t-blur)="changeEvent('t-blur')"
  (t-change)="changeEvent('t-change')"
  (t-change-model)="changeEvent('t-change-model')">
</thf-number>

<hr>

<div class="thf-row">
  <thf-info
    class="thf-md-6"
    t-label="Model"
    [t-value]="number">
  </thf-info>
  <thf-info
    class="thf-md-6"
    t-label="Event"
    [t-value]="event">
  </thf-info>
</div>

<hr>

<form #f="ngForm">
  <div class="thf-row">
    <thf-input
      class="thf-md-6"
      name="label"
      [(ngModel)]="label"
      t-clean
      t-label="Label">
    </thf-input>

    <thf-input
      class="thf-md-6"
      name="help"
      [(ngModel)]="help"
      t-clean
      t-label="Help">
    </thf-input>
  </div>

  <div class="thf-row">
    <thf-input
      class="thf-md-6"
      name="placeholder"
      [(ngModel)]="placeholder"
      t-clean
      t-label="Placeholder">
    </thf-input>

    <thf-input
      class="thf-md-6"
      name="messageErrorPattern"
      [(ngModel)]="messageErrorPattern"
      t-clean
      t-label="Message error pattern">
    </thf-input>
  </div>

  <div class="thf-row">
    <thf-number
      class="thf-md-6 thf-lg-3"
      name="min"
      [(ngModel)]="min"
      t-clean
      t-label="Min">
    </thf-number>

    <thf-number
      class="thf-md-6 thf-lg-3"
      name="minlength"
      [(ngModel)]="minlength"
      t-clean
      t-label="Minlength">
    </thf-number>

    <thf-number
      class="thf-md-6 thf-lg-3"
      name="max"
      [(ngModel)]="max"
      t-clean
      t-label="Max">
    </thf-number>

    <thf-number
      class="thf-md-6 thf-lg-3"
      name="maxlength"
      [(ngModel)]="maxlength"
      t-clean
      t-label="Maxlength">
    </thf-number>
  </div>

  <div class="thf-row">
    <thf-number
      class="thf-md-6"
      name="step"
      [(ngModel)]="step"
      t-clean
      t-label="Step">
    </thf-number>
  </div>

  <div class="thf-row">
    <thf-checkbox-group
      class="thf-md-12"
      name="properties"
      [(ngModel)]="properties"
      t-label="Properties"
      [t-options]="propertiesOptions">
    </thf-checkbox-group>
  </div>

  <div class="thf-row">
    <thf-button
      class="thf-md-3"
      t-label="Sample Restore"
      (t-click)="restore()">
    </thf-button>
  </div>
</form>

