<thf-page-list
  [t-actions]="actions"
  [t-breadcrumb]="breadcrumb"
  [t-disclaimer-group]="disclaimerGroup"
  [t-filter]="filter"
  [t-literals]="customLiterals"
  [t-title]="title">

  <hr>

  <thf-info
    t-label="Model"
    [t-value]="filterModel">
  </thf-info>

</thf-page-list>

<hr>

<form #formAction="ngForm">

  <div class="thf-row">
    <thf-input
      class="thf-md-4"
      name="actionLabel"
      [(ngModel)]="action.label"
      t-label="Action Label"
      t-required>
    </thf-input>

    <thf-select
      class="thf-md-4"
      name="actionIcon"
      [(ngModel)]="action.icon"
      t-clean
      t-label="Action Icon"
      [t-options]="iconOptions">
    </thf-select>

    <thf-input
      class="thf-md-4"
      name="actionUrl"
      [(ngModel)]="action.url"
      t-label="Action Url">
    </thf-input>
  </div>

  <div class="thf-row">
    <thf-input
      class="thf-md-6"
      name="actionAction"
      [(ngModel)]="action.action"
      t-clean
      t-label="Action">
    </thf-input>

    <thf-switch
      class="thf-md-6"
      name="actionDisabled"
      [(ngModel)]="action.disabled"
      t-clean
      t-label="Action Disabled">
    </thf-switch>
  </div>

  <div class="thf-row">
    <thf-button
      class="thf-md-3"
      t-label="Add Action"
      [t-disabled]="formAction.invalid"
      (t-click)="addAction()">
    </thf-button>
  </div>

</form>

<hr>

<form #formBreadcrumbFavorite="ngForm">
  <div class="thf-row">
    <thf-input
      class="thf-lg-6"
      name="breadcrumbFavorite"
      [(ngModel)]="breadcrumb.favorite"
      t-clean
      t-help="https://thf.totvs.com.br/sample/api/favorite"
      t-label="Breadcrumb favorite">
    </thf-input>
  </div>
</form>

<form #formBreadcrumbItems="ngForm">
  <div class="thf-row">
    <thf-input
      class="thf-md-6"
      name="breadcrumbItemLabel"
      [(ngModel)]="breadcrumbItem.label"
      t-clean
      t-label="Breadcrumb item label"
      t-required>
    </thf-input>

    <thf-input
      class="thf-md-6"
      name="breadcrumbItemLink"
      [(ngModel)]="breadcrumbItem.link"
      t-clean
      t-label="Breadcrumb item link"
      t-required>
    </thf-input>
  </div>

  <div class="thf-row">
    <thf-button
      class="thf-md-3"
      t-label="Add breadcrumb item"
      [t-disabled]="formBreadcrumbItems.invalid"
      (t-click)="addBreadcrumbItem()">
    </thf-button>
  </div>
</form>

<hr>

<form #formBreadcrumbParams="ngForm">
  <div class="thf-row">
    <thf-input
      class="thf-md-6"
      name="breadcrumbParamsProperty"
      [(ngModel)]="breadcrumbParams.property"
      t-clean
      t-label="Breadcrumb params property"
      t-required>
    </thf-input>

    <thf-input
      class="thf-md-6"
      name="breadcrumbParamsValue"
      [(ngModel)]="breadcrumbParams.value"
      t-clean
      t-label="Breadcrumb params value"
      t-required>
    </thf-input>
  </div>

  <div class="thf-row">
    <thf-button
      class="thf-md-3"
      t-label="Add breadcrumb params"
      [t-disabled]="formBreadcrumbParams.invalid"
      (t-click)="addBreadcrumbParam()">
    </thf-button>
  </div>
</form>

<hr>

<div class="thf-row">
  <thf-input
    class="thf-md-6"
    name="disclaimerGroupTitle"
    [(ngModel)]="disclaimerGroupTitle"
    t-clean
    t-label="Disclaimer group title"
    (t-change-model)="addDisclaimerGroupParam(disclaimerGroupTitle, disclaimerGroupHideRemoveAll)">
  </thf-input>

  <thf-switch
    class="thf-md-6"
    name="disclaimerGroupHideRemoveAll"
    [(ngModel)]="disclaimerGroupHideRemoveAll"
    t-label="Disclaimer group hide remove all"
    (t-change)="onChangeDisclaimerGroupHideRemoveAll($event)"
    ngDefaultControl>
  </thf-switch>
</div>

<form #formDisclaimers="ngForm">
  <div class="thf-row">
    <thf-input
      class="thf-md-6"
      name="disclaimerLabel"
      [(ngModel)]="disclaimerLabel"
      t-clean
      t-label="Disclaimer label">
    </thf-input>

    <thf-input
      class="thf-md-6"
      name="disclaimerProperty"
      [(ngModel)]="disclaimerProperty"
      t-clean
      t-label="Disclaimer property">
    </thf-input>

  </div>

  <div class="thf-row">
    <thf-input
      class="thf-md-6"
      name="disclaimerValue"
      [(ngModel)]="disclaimerValue"
      t-clean
      t-label="Disclaimer value"
      t-required>
    </thf-input>

    <thf-switch
      class="thf-md-6"
      name="disclaimerHideClose"
      [(ngModel)]="disclaimerHideClose"
      t-label="Disclaimer hide close">
    </thf-switch>
  </div>

  <div class="thf-row">
    <thf-button
      class="thf-md-3"
      t-label="Add disclaimer"
      [t-disabled]="formDisclaimers.invalid"
      (t-click)="addDisclaimer()">
    </thf-button>
  </div>
</form>

<hr>

<form #form="ngForm">

  <div class="thf-row">
    <thf-input
      class="thf-md-6"
      name="title"
      [(ngModel)]="title"
      t-label="Title"
      t-required>
    </thf-input>

    <thf-input
      class="thf-md-6"
      name="filterPlaceholder"
      [(ngModel)]="filter.placeholder"
      t-label="Filter placeholder">
    </thf-input>
  </div>


  <div class="thf-row">
    <thf-input
      class="thf-lg-12"
      name="literals"
      [(ngModel)]="literals"
      t-help='Ex.: {"otherActions": "Mais ações"}'
      t-label="Literals"
      (t-change)="changeLiterals()">
    </thf-input>
  </div>

  <div class="thf-row">
    <thf-button
      class="thf-md-3"
      t-label="Sample Restore"
      (t-click)="restore()">
    </thf-button>
  </div>

</form>

