<thf-checkbox-group
  name="checkboxGroup"
  [(ngModel)]="checkboxGroup"
  [t-columns]="columns"
  [t-disabled]="properties.includes('disabled')"
  [t-help]="help"
  [t-indeterminate]="properties.includes('indeterminate')"
  [t-label]="label"
  [t-options]="options"
  [t-required]="properties.includes('required')"
  (t-change)="changeEvent('t-change')">
</thf-checkbox-group>

<hr>

<div class="thf-row">
  <thf-info
    class="thf-md-6"
    t-label="Model"
    [t-value]="checkboxGroup | json">
  </thf-info>

  <thf-info
    class="thf-md-6"
    t-label="Event"
    [t-value]="event">
  </thf-info>
</div>

<hr>

<form #fOption="ngForm">
  <div class="thf-row">
    <thf-input
      class="thf-lg-4"
      name="optionValue"
      [(ngModel)]="option.value"
      t-clean
      t-label="Option Value"
      t-required>
    </thf-input>

    <thf-input
      class="thf-lg-4"
      name="optionLabel"
      [(ngModel)]="option.label"
      t-clean
      t-label="Option Label"
      t-required>
    </thf-input>

    <thf-switch
      class="thf-lg-4"
      name="disabled"
      [(ngModel)]="option.disabled"
      t-label="Option Disabled">
    </thf-switch>

    <thf-button
      class="thf-lg-3"
      t-label="Add option"
      [t-disabled]="fOption.invalid"
      (t-click)="addOption()">
    </thf-button>
  </div>
</form>

<hr>

<form #f="ngForm">
  <div class="thf-row">
    <thf-input
      class="thf-lg-6"
      name="label"
      [(ngModel)]="label"
      t-clean
      t-label="Label">
    </thf-input>

    <thf-input
      class="thf-lg-6"
      name="help"
      [(ngModel)]="help"
      t-clean
      t-label="Help">
    </thf-input>
  </div>

  <div class="thf-row">
    <thf-radio-group
      class="thf-md-6"
      name="columns"
      [(ngModel)]="columns"
      t-label="Columns"
      [t-options]="columnOptions">
    </thf-radio-group>

    <thf-checkbox-group
      class="thf-md-6"
      name="properties"
      [(ngModel)]="properties"
      t-label="Properties"
      [t-options]="propertiesOptions">
    </thf-checkbox-group>
  </div>

  <div class="thf-row">
    <thf-button
      class="thf-md-3"
      t-label="Sample Restore"
      (t-click)="restore()">
    </thf-button>
  </div>
</form>

